[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
gunicorn = "*"
flask-login = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "bash -c \"export FLASK_DEBUG=true && flask run\""
start = "gunicorn server:app"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=./scripts"
