<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
            rel="stylesheet"
        />
        <title>Join Happy Holidays!</title>
    </head>
    <body
        style="
            font-family: 'Bree Serif', serif;
            background-color: rgb(227, 97, 97);
        "
    >
        <div
            style="
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 40px;
                width: 80%;
                border-radius: 30px;
                text-align: center;
                background-color: white;
                border: solid 2px black;
                box-shadow: 10px 10px;
            "
        >
            <h2 style="color: rgb(18, 184, 134)">Hello there 👋</h2>
            <p>
                {{name}} would like to help plan your perfect Christmas with
                Happy Holidays!
            </p>
            <a
                href="https://happiholidays.netlify.app/"
                target="_blank"
                onMouseOver="this.style.color='#FA0F39'"
                onMouseOut="this.style.color='#0e54ec'"
                >Sign Up</a
            >
        </div>
    </body>
</html>
